#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 70%;
  background-color: #9fa8a4;
  min-height: 60em;
  /* background-image: ".\images\celestial-city.webp"; */
}
